.main-header{
  display:flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  max-width: 650px;
  padding: 50px;
  margin: 0 30px;
  justify-content: center;
  align-items: center;
  background-color: #cc8800;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}

.user-name{
  color:white;
  font-size: xx-large;
}

/*   breakpoint for maximum  screen width of 768px */
@media only screen and (max-width: 768px) {
  .main-header{
    margin: 0 auto;

  }
}