.main-header{
  display:flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #cc8800;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  margin-top: 120px;

}

.user-name{
  color:white;
  font-size: xx-large;
}