
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  margin: 0;
  font-family: Source Sans Pro;
}

main {
  width: 90%;
  align-items: center;
  background-color: #f4f1ec;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 150px;
  padding: 10px;
  align-items: flex-start;
  }

              /* Responsive Designs */

/*   breakpoint for maximum  screen width of 1024px allows the header and container to be positioned accourdingly*/

@media only screen and (max-width: 1024px) {
  
 .flex-container {
    flex-direction: column;
    padding: 0;
  }
}


 

