form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 40px;
 
}

.counter{
  font-family: Bungee;
  color: gray;
}

.button{
  background-color: royalblue;
  font-family: Bungee;
  color:white;
}

.tweet-text{
  font-family:Source Sans Pro;
}

.button-counter{
  display: flex;
  justify-content :space-between;
  margin-top:  20px; 
}
#tweet-text{
  border: none;
  outline: none;
  border-bottom: 3px solid black;

}
/* counter turns red when < 0 */
.red{
 color: red;
}

.tweet {
  border: 3px solid black; 
  margin:  20px; 
  /* timeago.format(new Date());     */
}
.tweet:hover {
  box-shadow: 10px 10px 0px gray;
}
.icons{
  display:flex;
  justify-content: flex-end;
  
}
.fas.fa-flag:hover{
  color: orange;
}

.fas.fa-retweet:hover{
  color: orange;
}

.fas.fa-heart:hover{
  color: orange;
}

.fas{
  margin-left: 10px;
}

.footer{
  display:flex;
  justify-content: space-between;
}

.line{
  border-bottom:3px solid black;
  margin: 10px;
}

/* For dynamic tweets code  */
.user{
  display: flex;
  justify-content: flex-start;
}
.email{
  display: flex;
  justify-content:flex-end;
  align-items:flex-end;
}
  
  